@media (min-width: 576px) {
  .practice-advice-list-item {
    width: 17.5rem;
  }
}

@media (min-width: 768px) {
  .practice-advice-list-item {
    max-width: 17.5rem;
  }
}

@media (min-width: 992px) {
  .get-in-touch-card_larger {
    transform: scale(1.15);
    z-index: 1;
  }
}
